<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html>
    <head>
        <title>Product Maintenance</title>
    </head>
    <body>
    	<h1>Product</h1>
    	<table>
    		<tr>
    			<th>Code</th>
    			<th>Description</th>
    			<th>Price</th>
    			<th></th>
    			<th></th>
    		</tr>    		
			<div th:each = "product : ${products}">
				<tr>
					<td th:text = "${product.getCode()}"></td>
					<td th:text = "${product.getDescription()}"></td>
					<td th:text = "${product.getPrice()}"></td>
					<form action="/updateProduct" method = "post">
						<td><a th:href="@{/updateProduct(productCode=${product.getCode()})}">Edit</a ></td>
						<td><a th:href="@{/deleteProduct(productCode=${product.getCode()})}">Delete</a></td>
					</form>
				</tr>
			</div>
    	</table>
    	<form action="/addProduct" method="post">
			<input type="submit" value="Add Product">
		</form>
    </body>
</html>
